@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Singleton</h1>

    <p>
        El singleton se refiere a un patrón en el que solo se puede crear una sola instancia de una clase. Para lograr esto, la construcción y 
        la inicialización de la clase son responsabilidad de la clase misma. Al aislar la construcción del objeto, podemos restringirlo de otras áreas 
        de la aplicación. Una clase que se escribe de esta manera se conoce comúnmente como "Singleton".
    </p>
    <br />
    <p>El texto de los menu son una instacia que se obtiene una sola vez de la base de datos cumpliendo asi con el patron de diseño Singleton</p>
</div>
